body {
    margin-top: 0;
    overflow: hidden;
}

#main {
    font-family: monospace;
    font-size: 10pt;
    font-weight: bold;
    float: left;
}

#main > p {
    letter-spacing: 0.25em;
    line-height: 0.0675em;
}

#sidebar {
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    display: inline-block;
    height: 33em;
    width: 10em;
}

.stats {
    font-family: monospace;
}

#message-log {
    font-size: 9pt;
    position: absolute;
    bottom: 0;
    height: 15em;
    width: 100%;
    overflow-y: auto;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    width: 27em;
    height: 20em;
    padding-left: 1em;
    padding-top: 0.5em;
    overflow-y: auto;
}

#inventory-overlay {}
#item-details-overlay {}

.hide {
    display: none;
}

#inventory-list > p,
#item-details-name,
#item-details-stats > p {
    font-family: monospace;
    margin-top: 1px;
    margin-bottom: 1px;
}

#inventory-list > p.active {
    font-weight: bold;
}
